<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Builder</title>
    <link rel="stylesheet" href="../css/view.css">
</head>
<body>

    <header>
         
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Resume</a></li>
                <li><a href="#">Cover Letter</a></li>
                <li><a href="#">CV</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="resume-container">
            <div class="resume">
                <div class="header">
                    <img src="template10.jpeg" alt="Profile Picture"> 
                    <h1>YOUR NAME</h1>
                    <p>Programmer/Job Title</p>
                </div>
                <div class="content">
                    <div class="section">
                        <h2>Contact</h2>
                        <p>Phone: 123-456-7890</p>
                        <p>Email: your.email@example.com</p>
                        <p>Address: 123 Main St, City, State</p>
                    </div>
                    <div class="section">
                        <h2>About Me</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="section">
                        <h2>Experience</h2>
                        <ul>
                            <li>Job Title 1 | Company Name | 2020-Present</li>
                            <li>Job Title 2 | Company Name | 2018-2020</li>
                        </ul>
                    </div>
                    <div class="section">
                        <h2>Education</h2>
                        <ul>
                            <li>Degree Name | University Name | 2015-2019</li>
                        </ul>
                    </div>
                    <div class="section">
                        <h2>Skills</h2>
                        <ul>
                            <li>Skill 1</li>
                            <li>Skill 2</li>
                            <li>Skill 3</li>
                        </ul>
                    </div>
                    <div class="section">
                        <h2>Hobbies</h2>
                        <ul>
                            <li>Hobby 1</li>
                            <li>Hobby 2</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button class="btn" onclick="window.location.href='resume_customizer0.html'">Customize</button>
            <button class="btn" onclick="window.location.href='check.html'">ATS Score</button>
            <button class="btn">Download</button>
        </div>
    </main>

</body>
</html>