<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Page</title>
    <link rel="stylesheet" href="../css/style.css"> 
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Resume</a></li>
                <li><a href="#">Cover Letter</a></li>
                <li><a href="#">CV</a></li>
            </ul>
            <div class="toggle"></div>
        </nav>
    </header>

    <main class="main-container">
        <section class="left-section">
            <div class="profile-details">
                <img src="../images/background.jpg" alt="Left Side Photo">
            </div>
        </section>

        <section class="right-section">
            <div class="button-group">
                <button class="btn-group-item">Find Resume Templates</button>
                <button class="btn-group-item">Create Resume</button>
                <button class="btn-group-item">My Resumes</button>
            </div>

            <div class="button-group">
                <button class="btn-group-item">Create CV</button>
                <button class="btn-group-item">My CVs</button>
                <button class="btn-group-item">Find CV Templates</button>
                <button class="btn-group-item">CV</button>
            </div>

            <div class="button-group">
                <button class="btn-group-item">Create Cover Letter</button>
                <button class="btn-group-item">My Cover Letters</button>
                <button class="btn-group-item">Find Cover Letter Templates</button>
                <button class="btn-group-item">Cover Letter</button>
            </div>
        </section>
    </main>

</body>
</html>