<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Resume</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index1.css') }}">
</head>
<body>
  <header>
    <div class="logo">SR</div>
    <nav>
        <a href="#">Home</a>
        <a href="#">Resume</a>
        <a href="#">Cover Letter</a>
        <a href="#">CV</a>
    </nav>
    <div class="auth-buttons">
        <a href="{{ url_for('main.signup') }}">Sign Up</a>
        <a href="{{ url_for('main.login') }}">Log In</a>
    </div>
  </header>

  <main>
    <h1>Welcome to Smart Resume</h1>
    <p>Crafting Your Future, One Resume at a Time</p>
  </main>

  <footer>
    &copy; 2024 Smart Resume. All rights reserved.
  </footer>
</body>
</html>
